<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <title>Sharkweek</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <base href="/">

<!-- This will cause crawler bot to request links with _escaped_fragment_ param so that your server can recognize the crawler and serve a HTML snapshots. http://code.google.com/web/ajaxcrawling/docs/specification.html -->
  <meta name="fragment" content="!" />
</head>
<body>

<%= render partial: "layouts/header" %>

<main ng-cloak>
  <%= yield %>
</main>

<%= render partial: "layouts/footer" %>

</body>
</html>
